

<div class="container1">
<app-menu style="    height: inherit;

display: inherit;">
</app-menu>
<!--<div class="container page-wrapper">-->

<!--</div>-->

<!--<div class="container">-->


<!--<app-search></app-search>-->
<!--<app-configuration></app-configuration>-->

<!--</div>-->

<!--<main class="" style="width: 170px">-->

<!--<app-search></app-search>-->

<!--<app-configuration></app-configuration>-->

<div class="content">
<div class="searchBar">

</div>
<div class="contentBody">
  <!--<app-configuration-form></app-configuration-form>-->
<!--<app-configuration></app-configuration>-->
  <!--<app-media></app-media>-->
  <!--<app-tag></app-tag>-->
  <router-outlet></router-outlet>
</div>
</div>
</div>
